// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// CLOVER
.clover {
  background-image: image-url("four_leaf.png");
}
.clover_null {
  background-image: image-url("three_leaf.png");
}
.clover_bg {
  background-color: #FFCFCF;
}

// HAYSTACK
.haystack {
  background-image: image-url("needle.png")
}
.haystack_null {
}
.haystack_bg {
  background-image: image-url("haystack.jpg");
}

// WALDO
.waldo {
  background-image: image-url("waldo.png");
  // background-color: red;
}
.waldo_null {
}
.waldo_bg {
  background-image: image-url("waldo_bg.jpg");
}

// QUEEN
.queen {
  background-image: image-url("queen.png");
  // background-color: red;
}
.queen_null {
  background-image: image-url("pence.png");
}
.queen_bg {
  background-color: #D252FF;
  // background-image: image-url("waldo_bg.jpg");
}

// SNOWBOARDER
.snowboarder {
  background-image: image-url("snowboarder.png");
}
.snowboarder_null {
  background-image: image-url("skier.png");
}
.snowboarder_bg {
  background-image: image-url("snow.png");
}

// CANDLE
.candle {
  background-image: image-url("candle.png");
}
.candle_null {
  // background-image: image-url("skier.png");
}
.candle_bg {
  background-image: image-url("lanterns.jpg");
}

.mink {
  background-image: image-url("mink_face.png");
}
.mink_null {
  background-image: image-url("beaver.png");
}
.mink_bg {
  background-image: image-url("river.png");
}

.et {
  background-image: image-url("et.png");
}
.et_null {
  // background-image: image-url("beaver.png");
}
.et_bg {
  background-image: image-url("toys.jpg");
}
